#MYSQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=
MYSQL_USER=app_user
MYSQL_PASSWORD=app_password

# GO service
DB_HOST=movie-db
DB_PORT=3306
DB_USER=app_user
DB_PASSWORD=app_password
DB_NAME=
SECRET_KEY=
